body{
    background: #111;
}

.caixa{
    width: 100px;
    height: 100px;
    background: royalblue;
}

.circulo{
    width: 100px;
    height: 100px;
    background:darkorchid;
    border-radius: 50%;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
}
